body {
  margin: 0;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  background-color: white;
  color: #40514E;
}
p {

  line-height: 2;
}

h1 {
  margin-top: 0;
  font-family: 'Courgette', cursive;
  font-size: 70px;
  margin: 50px auto 0 auto;
  color: #9d0b0b;
  padding-bottom: 35px;


}

h2 {
font-family: 'Merriweather', serif;
font-size: 2rem;
color: #da2d2d;
font-weight: normal;


}

h3 {
font-family: 'Merriweather', serif;
color: #eb8242;;

}

.top-container {
  position: relative;
  padding-top: 100px;
  background-color: #f9f6f7;
  border-bottom: 5px solid;;;;;;;;
  border-color: black;

}

.cloud2 {
  position: absolute;
  left: 15%;

  width: 10%;
  height: 10%;

}

.cloud1 {
  position: absolute;
  right: 15%;
  top: 5%;
  height: 25%;
  width: 10%;
}

.mountain1 {
width: 50%;
height: 50%;

}

.face1 {
  border-radius: 100%;
  margin-top: 10%;
}

.mechanic1 {
  height: 100px;
  width: 100px;
  float: left;
  margin-right: 30px;
}

.code1 {
  height: 100px;
  width: 100px;
  float: right;
  margin-left: 30px;
}

.aboutme1 {
margin: 0 auto;
width: 50%;
padding-bottom: 50px;

}

.bottomtxt{

width: 450px;
margin: 0 auto;
padding-bottom: 50px;
padding-top: 50px;
}

.myskillh {
margin: 10% 0 10% 0;

}

.email1 {
height: 50px;
width: 50px;

}

.skill-row {
margin: 100px auto;
width: 30%;
text-align: left;

}

.techdesc {
  clear: left;
}


.codedesc {
clear: right;
}




hr {
  border-style: dotted none none none;
  width: 5%;
  border-color: gray;
  border-width: 5px;

}

.profile {
width: 50%;
margin: 0 auto;

}

.bottom-container {
  background-color: #c72c41;
  text-align: center;
  margin-bottom: 0;
  padding-bottom: 10px;;
  padding-top: 5px;
margin-top: 100px;
}

.table1 {
margin: 0 auto;

}

.copyright {
  color: #EAF6F6;
}

.tableb {
  padding: 20px;
}

.support1{

height: 10%;
width: 10%;
}


.shoplogo {
  width: 20%;
  height: 20%;
  float: center;
  margin-bottom: -200px;
}


.button1 {
	box-shadow: 0 1px 0 0 #da2d2d;
	background:linear-gradient(to bottom, #9d0b0b 5%, #da2d2d 100%);
	background-color:#9d0b0b;
	border-radius:8px;
	border:1px solid #ff0000;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0 -1px 0 #000000;
}
.button1:hover {
	background:linear-gradient(to bottom, #da2d2d 5%, #9d0b0b 100%);
	background-color:#da2d2d;
}
.button1:active {
	position:relative;
	top:1px;
}
